@font-face {
  font-family: "iconfont"; /* Project id 4660506 */
  src: url('iconfont.woff2?t=1724225872797') format('woff2'),
       url('iconfont.woff?t=1724225872797') format('woff'),
       url('iconfont.ttf?t=1724225872797') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qrcode:before {
  content: "\e76e";
}

.icon-nail:before {
  content: "\e79e";
}

.icon-nail-fixed:before {
  content: "\e79f";
}

.icon-heart-fill:before {
  content: "\e7d1";
}

.icon-eye-slash:before {
  content: "\e7ec";
}

.icon-eye:before {
  content: "\e7ed";
}

.icon-icon-test:before {
  content: "\e63e";
}

.icon-icon-test1:before {
  content: "\e63f";
}

.icon-icon-test2:before {
  content: "\e640";
}

.icon-icon-test3:before {
  content: "\e643";
}

.icon-alibabapuhuiti-xiti:before {
  content: "\e600";
}

.icon-hongbao:before {
  content: "\e8b0";
}

.icon-huatifuhao:before {
  content: "\e8b1";
}

.icon-huiyuan:before {
  content: "\e8b2";
}

.icon-kabao:before {
  content: "\e8b3";
}

.icon-mima:before {
  content: "\e8b4";
}

.icon-nan:before {
  content: "\e8b5";
}

.icon-nv:before {
  content: "\e8b6";
}

.icon-lihe:before {
  content: "\e8b7";
}

.icon-paihangbang:before {
  content: "\e8b8";
}

.icon-lipinka:before {
  content: "\e8b9";
}

.icon-pengyouquan:before {
  content: "\e8ba";
}

.icon-qupiao:before {
  content: "\e8bb";
}

.icon-saoyisao:before {
  content: "\e8bc";
}

.icon-rili:before {
  content: "\e8bd";
}

.icon-pinglun:before {
  content: "\e8be";
}

.icon-shangchuan:before {
  content: "\e8bf";
}

.icon-sousuo:before {
  content: "\e8c0";
}

.icon-tuipiao:before {
  content: "\e8c1";
}

.icon-weixin:before {
  content: "\e8c2";
}

.icon-wodeguanzhu:before {
  content: "\e8c3";
}

.icon-xiangji:before {
  content: "\e8c4";
}

.icon-xiaoxi:before {
  content: "\e8c5";
}

.icon-xiazai:before {
  content: "\e8c6";
}

.icon-WIFI:before {
  content: "\e8c7";
}

.icon-zhiwen:before {
  content: "\e8c8";
}

.icon-arrow-up-circle:before {
  content: "\e665";
}

.icon-arrow-right-circle:before {
  content: "\e666";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-ashbin:before {
  content: "\e668";
}

.icon-arrow-right:before {
  content: "\e669";
}

.icon-browse:before {
  content: "\e66a";
}

.icon-bottom:before {
  content: "\e66b";
}

.icon-back:before {
  content: "\e66c";
}

.icon-bad:before {
  content: "\e66d";
}

.icon-arrow-double-left:before {
  content: "\e66e";
}

.icon-camera:before {
  content: "\e66f";
}

.icon-attachment:before {
  content: "\e670";
}

.icon-delete:before {
  content: "\e671";
}

.icon-direction-down:before {
  content: "\e672";
}

.icon-copy:before {
  content: "\e673";
}

.icon-cut:before {
  content: "\e674";
}

.icon-direction-down-circle:before {
  content: "\e675";
}

.icon-direction-right:before {
  content: "\e676";
}

.icon-direction-up:before {
  content: "\e677";
}

.icon-discount:before {
  content: "\e678";
}

.icon-direction-left:before {
  content: "\e679";
}

.icon-download:before {
  content: "\e67a";
}

.icon-edit:before {
  content: "\e67b";
}

.icon-eye-close:before {
  content: "\e67c";
}

.icon-email:before {
  content: "\e67d";
}

.icon-fabulous:before {
  content: "\e67e";
}

.icon-file:before {
  content: "\e67f";
}

.icon-filter:before {
  content: "\e680";
}

.icon-hide:before {
  content: "\e681";
}

.icon-home:before {
  content: "\e682";
}

.icon-file-open:before {
  content: "\e683";
}

.icon-forward:before {
  content: "\e684";
}

.icon-fullscreen-shrink:before {
  content: "\e685";
}

.icon-fullscreen-expand:before {
  content: "\e686";
}

.icon-map:before {
  content: "\e687";
}

.icon-telephone:before {
  content: "\e688";
}

.icon-zoom-out:before {
  content: "\e689";
}

.icon-add-bold:before {
  content: "\e68a";
}

.icon-news-filling:before {
  content: "\e68b";
}

.icon-picture-filling:before {
  content: "\e68c";
}

.icon-setting-filling:before {
  content: "\e68d";
}

.icon-jubao:before {
  content: "\e61d";
}

.icon-anquanbaozhang:before {
  content: "\e61e";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61f";
}

.icon-gengduo:before {
  content: "\e620";
}

.icon-gerenzhongxin-zhihui:before {
  content: "\e621";
}

.icon-fanhui:before {
  content: "\e622";
}

.icon-qianshuxieyi:before {
  content: "\e623";
}

.icon-dianpu:before {
  content: "\e624";
}

.icon-guanbi:before {
  content: "\e625";
}

.icon-a-xiala2:before {
  content: "\e626";
}

.icon-tianranqi:before {
  content: "\e627";
}

.icon-bianlidian:before {
  content: "\e628";
}

.icon-a-24Hanbao:before {
  content: "\e629";
}

.icon-shequhuodong:before {
  content: "\e62a";
}

.icon-cart-empty:before {
  content: "\e826";
}

.icon-money-rmb-symbol:before {
  content: "\e831";
}

.icon-attachent:before {
  content: "\e837";
}

.icon-daytime-mode:before {
  content: "\e839";
}

.icon-delete1:before {
  content: "\e83a";
}

.icon-gallery:before {
  content: "\e83b";
}

.icon-loading:before {
  content: "\e83d";
}

.icon-location-fill:before {
  content: "\e83e";
}

.icon-mute:before {
  content: "\e83f";
}

